body div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #444;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.topbar {
  height: 40px;
  background-color: #dee4ee;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  flex-direction: row;
}
.topbar-menu {
  font-size: 24px;
  line-height: 24px;
  color: #43597f;
  font-weight: 100;
  text-decoration: none;
}
.topbar-title {
  line-height: 1;
  margin-left: 16px;
  color: #43597f;
}
.content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.notification {
  background-color: #dcd0fe;
  padding: 16px;
  border: 1px solid #cbb9fe;
  margin-bottom: 32px;
}
.search {
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-right: 15px;
}
.cards {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
  padding: 50px 200px 600px;
}
.card {
  margin-left: 16px;
  margin-top: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  min-width: 260px;
  max-width: 420px;
  flex: 1;
}
.card-title {
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-tags {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
}

.card-tag {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  background-color: rgb(193, 61, 49);;
  border: 2px solid #ff968d;
  color: white;
}
.card-description {
  padding-top: 8px;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 16px;
  font-size: 14px;
  color: #999;
}

/*Shrinking for mobile*/
@media (max-width: 812px) {
  .cards {
    padding: 0px;
  }
  .radiuss-graph {
    display: none;
  }

}
