name: Update Contributor CI Data
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron:  '0 3 * * *'

jobs:
  extraction:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Update Tutorial Site
      uses: rse-ops/tutorial-actions/site@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
